* {
	margin: auto;
	width: 70%;
	text-align: left;
	font-family: "Myriad Pro Regular";
}

h1 {
	text-align: center;
}

.me {
    display: block;
	border: 1px solid gray;
	width: 50%;
	height: 50%;

}

p, h3 {
	line-height: 2.5;
	margin-left: 0;

}

p {
	color: #5e5e5e;
}

div {
	border-bottom: 1px solid #d8dad7;
}

ul {
padding-left: 0;
margin-left: -20px;
line-height: 1;
}
